<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2101CS405</b></center>
<center><b><h1>Lab - 7</b></center>    
<pre>

#### Name : Meet Kacha
#### Enrollment No : 23010101624
#### Date : 20-02-2024

# Functions

In [ ]:
# will throw an error
## UnboundLocalError: local variable 'a' referenced before assignment
a = 15
def change():
    a = a + 5
    print(a) 
change()

In [4]:
# when to use global
a = 15
def change():
    global a
    a = a + 5
    print(a) 
change()

20

### 01) WAP to count simple interest using function.

# SI =( principle(amount) * rate of interest * time )/ 100

In [2]:
def simple_interest(p,t,r):
	print('The principal is', p)
	print('The time period is', t)
	print('The rate of interest is',r)
	
	si = (p * t * r)/100
	
	print('The Simple Interest is', si)

pa=int(input("Enter Principle : "))
time=int(input("Enter Time : "))
rate=int(input("Enter Rate : "))

simple_interest(pa, rate, time)

The principal is 50000
The time period is 2
The rate of interest is 3
The Simple Interest is 3000.0

### 02) WAP that defines a function to add first n numbers.

In [1]:
def SumNNum(num):
   if num < 0:
      print("Enter a positive number")
   else:
      sum = 0
      while(num > 0):
         sum += num
         num -= 1
      print("Sum of Number is : ", sum)

num=int(input("Enter Number : "))

SumNNum(num)

Sum of Number is :  15

### 03) WAP to find maximum number from given two numbers using function.

In [5]:
def maximum(a, b):
	
	if a >= b:
		return a
	else:
		return b

a = int(input("Enter Number A : "))
b = int(input("Enter Number B : "))
print("Maximum Number is:",maximum(a, b))

Maximum Number is: 50

### 04) WAP that defines a function which returns 1 if the number is prime otherwise return 0.

In [2]:
def primeNumber(n):
  for i in range(2,int(n**0.5)+1):
    if(n%i==0):
      return 0
  else:
    return 1
n=int(input("Enter a number : "))
primeNumber(n)

1

<h2> optional task : optimization</h2>
complete basic task first then try to optimize

In [1]:
# Example on how iterations are calculated
# Only iteration in loops are counted
iteration_count= 0
n = 5
for i in range(n):
    iteration_count += 1
    
    for j in range(n-i-1):
        iteration_count += 1
        print(" ", end = " ")
    for j in range(i+1):
        iteration_count += 1
        print("*", end = " ")
    print()
print("Total Iterations : ", iteration_count)

        *
      * *
    * * *
  * * * *
* * * * *
Total Iterations :  30

### 05) Write a function called primes that takes an integer value as an argument and returns a list of all prime numbers up to that number.

In [13]:
def is_prime(n):
    if n <= 1:
        return False 
    if n <= 3:
        return True 
    if n % 2 == 0 or n % 3 == 0:
        return False  
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

def primes(n):
    prime_list = []
    for i in range(2, n + 1):
        if is_prime(i):
            prime_list.append(i)
    return prime_list

num = int(input("Enter a number: "))
prime_numbers = primes(num)
print("Prime numbers up to", num, "are:", prime_numbers)

Prime numbers up to 1000 are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

<h2> optional task : optimization</h2>
if basic task completed then try to optimize

### 06) WAP to generate Fibonacci series of N given number using function name fibbo. (e.g. 0 1 1 2 3 5 8...)

<img src="https://www.freecodecamp.org/news/content/images/size/w1000/2022/06/calculate-the-Fibonacci-number-we-have-basic-2-approaches.png" height="600px" width="600px">

In [5]:
def fibbo(n):
  list_fibonacci=[i for i in range(n)]
  for i in range(2,n):
    list_fibonacci[i]=list_fibonacci[i-1]+list_fibonacci[i-2]
  return list_fibonacci
number=int(input("Enter a number : "))
fibbo(number)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 07) WAP to find the factorial of a given number using recursion.

In [15]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
number = int(input("Enter a number to find its factorial: "))
result = factorial(number)
print("Factorial of", number, "is:", result)

Factorial of 5 is: 120

### 08) WAP to implement simple calculator using lamda function.

In [6]:
num1=int(input("Enter a number1 : "))
num2=int(input("Enter a number2 : "))
calc=lambda a,b,op:a+b if op=='+' else a-b if op=='-' else a*b if op=='*' else round(a/b,2)
print(f'{num1} + {num2} : {calc(num1,num2,"+")}')
print(f'{num1} - {num2} : {calc(num1,num2,"-")}')
print(f'{num1} * {num2} : {calc(num1,num2,"*")}')
print(f'{num1} / {num2} : {calc(num1,num2,"/")}')

5 + 5 : 10
5 - 5 : 0
5 * 5 : 25
5 / 5 : 1.0

### 09)Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically
Sample Items : green-red-yellow-black-white <br>
Expected Result : black-green-red-white-yellow

In [17]:
sequence = input("Enter hyphen-separated sequence of words: ")
words = sequence.split('-')
sorted_words = sorted(words)
sorted_sequence = '-'.join(sorted_words)
print("entered hyphen-separated sequence : ", sequence)
print("Sorted hyphen-separated sequence : ", sorted_sequence)

entered hyphen-separated sequence :  green-red-yellow-black-white
Sorted hyphen-separated sequence :  black-green-red-white-yellow

### 10) Write a python program to implement all function arguments type
Positional arguments <Br>
Default argument <Br>
Keyword arguments (named arguments) <Br>
Arbitrary arguments (variable-length arguments args and kwargs)

In [1]:
def nameAge(name, age):
	print("Hi, I am", name)
	print("My age is ", age)

print("Case-1:")
nameAge("Meet", 20)

print("\nCase-2:")
nameAge(20, "Meet")

Case-1:
Hi, I am Meet
My age is  20

Case-2:
Hi, I am 20
My age is  Meet

In [2]:
# Default argument
def defaultArgument (a,b=10) :
    return a-b

print(defaultArgument(20))
print(defaultArgument(20,15))

10
5

In [3]:
# Keyword argument
def my_function(country, state, city):
  print("country is : " + country)

my_function(city = "Rajkot", state = "Gujarat", country = "India")

country is : India

In [4]:
# Arbitrary arguments awrgs
def arbitraryArguments(*b):
    print("The youngest child is " + b[2])

arbitraryArguments("Radha", "Krishna", "Swapnil")

The youngest child is Swapnil

In [5]:
# Arbitrary arguments kwargs
def arbitraryArguments(**b):
    print("His last name is " + b["lname"])

arbitraryArguments(fname = "Swapnil", lname = "Ajmera")

His last name is Ajmera

### 01) WAP to calculate power of a number using recursion.

In [8]:
power=lambda x,y:1 if y==0 else x*power(x,y-1)
exponent=int(input("Enter a exponent : "))
pow=int(input("Enter a power : "))
print(f"{exponent}^{pow} : {power(exponent,pow)}")

2^4 : 16

### 02) WAP to count digits of a number using recursion.

In [10]:
digitSum=lambda n: 0 if n==0 else (n%10)+digitSum(n//10)
num1=int(input("Enter a number : "))
print(f"sum of digits of {num1} : {digitSum(num1)}")

sum of digits of 100 : 1

### 03) WAP to reverse an integer number using recursion.

In [11]:
digit=lambda n,r: r if n==0 else digit(n//10,(r*10)+(n%10))
num=int(input("ENter a number : "))
res=0
print(digit(num,res))

52

### 04) WAP to convert decimal number into binary using recursion.

<img src="https://runestone.academy/ns/books/published/pythonds/_images/dectobin.png">
<img src="https://www.tutorialstonight.com/assets/decimal-to-binary-conversion.png">

In [12]:
def decimalToBinary(n):
    if n==0:
        return 0
    else:
        return n%2+10*(decimalToBinary(n//2))

n = int(input("Enter Number : "))
ans = decimalToBinary(n)
print("Binary : ",ans)

Binary :  11110


# Map , Filter , Reduce

### map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [3]:
numbers = [1, 2, 3, 4, 5]

squared_numbers = list(map(lambda x: x * x, numbers))

print(squared_numbers)

[1, 4, 9, 16, 25]

### The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

In [4]:
# a list contains both even and odd numbers. 
seq = [0, 1, 2, 3, 5, 8, 13]
 
# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))
 
# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

[1, 3, 5, 13]
[0, 2, 8]

### The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module.

In [5]:
 # importing functools for reduce() 
import functools 

# initializing list 
lis = [1, 3, 5, 6, 2] 

# using reduce to compute sum of list 
print("The sum of the list elements is : ", end="") 
print(functools.reduce(lambda a, b: a+b, lis)) 

# using reduce to compute maximum element from list 
print("The maximum element of the list is : ", end="") 
print(functools.reduce(lambda a, b: a if a > b else b, lis))

The sum of the list elements is : 17
The maximum element of the list is : 6